/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}.body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  base font-size: 18px
  base line-height: 1.2 em
  1.618/Golden section "Phi" is our modular scale:
  https://www.modularscale.com/?18&px&1.618

  norm(1.618.Phi)//em(px/18)//lineheight(1.2x)
  .5x =  11.125px//.618em//.7416em
  1x  =  18px//1em//21.6(1.2em)
  1.5x=  23.562//1.309em//1.5708em
  2x  =  29.124px//1.618em//1.942em
  3x  =  47.123px//2.618em//3.142em
  4x  =  76.244px//4.236em//5.083em
}}

Palette URL: http://paletton.com/#uid=53+1j0kwi++bu++hX++++rd++kX

Chose this for blue being a long lasting trusted color for reliability.  While we are a new company, we are growing and throwing green into the frey would help push that.  The red is meant to compliment, yet not hurt the eyes.

*/


/* Custom Site Styles */

/* ========== Base Styles ========== */
/* Base Styles (element selectors; color, typography, and that's it)*/
html {
  font-size: 1.125em;/*18 is a sexy number for small phones with paragraph*/
  line-height: 1.2em;/*18*1.2=21.6...relative to em is 1.2*/
  max-width: 27.7778em/**500px px /18px=22  I liked how 500 looked with <p> and wanted to keep that for rest of page.(This is here because it wont effect anything till past media query)*/;
  height: 100%;
  margin: auto;
  background-color: #000075;
  color: #2626FF;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #8585FF;
  padding: 0 1em;
  min-height: 100%;

}

h1 {
  font-size: 1.618em;
  line-height: 1.2em;
  text-align: center;
}

legend {
  font-size: 1.309em;
}

h1, legend, .next {
  font-family: "Playfair Display", serif;
  padding: 0.1em 0;
}

p {
  font-size: 0.65em;
  line-height: 1em;
  font-style: italic;
  padding-bottom: 0.3em;
}

input {
  height: 1.619em;
  border-radius: 20%;
  border: none;
  background-color: #e8e2db;
  color: #1a3263;
}

input[type="submit"] {
  background-color: #37BA00;
  border: none;
}

input[type="submit"]:disabled {
  background-color: #BFFFA4;
  color: #69779b;
  border: none;
}

input[type="reset"] {
  background-color: #8585FF;
  color: black;
  text-decoration: underline;
  border: none;
}

form, legend {
  margin: auto;
  max-width: 16.5em;
}

fieldset {
  margin: auto;
  border: white solid 0.1em;
}

/* ========== Layout ========== */
/* Layout (id selectors; width/height, position, flexbox, grid)*/

#signup-process, .section li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#form li {
  padding: 0.618em;
}

#next {
  padding: 0.74em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ========== Module ========== */
/* Module/Modular Section (class or descedent selectors; repeating specific styles) */

.nv * , .nv {/*Toggle this class to toggle visibility*/
  display: none;
}

.focus {
  color: black;
  height: 2.618em;
  background-color: lightblue;
}
/* ========== State ========== */
/* State (repeat the structure above; media queries, JavaScript-dependent styles) */

input:disabled {
  color: #69779b;
}

@media screen and (min-width: 297px) {
  /**I like how 280 lines up nicely with the title.  This will be my max**/
  h1 {
    padding: 0.74em 0;
  }

}





/*Baseline css*/
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="1.2em" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1.619" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;

  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: none;
}
