/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  base font-size: 18px
  base line-height: 1.2 em
  1.618/Golden section "Phi" is our modular scale:
  https://www.modularscale.com/?18&px&1.618

  norm(1.618.Phi)//em(px/18)//lineheight(1.2x)
  11.125px//.618em//.7416em
  18px//1em//21.6(1.2em)
  2x
  29.124px//1.618em//1.942em
  3x
  47.123px//2.618em//3.142em
  4x
  76.244px//4.236em//5.083em

*/


/* Custom Site Styles */

/* ========== Base Styles ========== */
/* Base Styles (element selectors; color, typography, and that's it)*/
html {
  font-size: 1.125em;/*18 is a sexy number for small phones with paragraph*/
  line-height: 1.2em;/*18*1.2=21.6...relative to em is 1.2*/
  padding-left: 1.2em;
  padding-right: 1.2em;
}

h1 {
  font-size: 1.618em;
  line-height: 1.2em;
  text-align: center;
}

nav {
  font-size: 0.618em;
  display: flex;
  justify-content: center;
}

small {
  font-size: 0.618em;
  line-height: 0.7416em;
  font-style: italic;
}

/* ========== Layout ========== */
/* Layout (id selectors; width/height, position, flexbox, grid)*/

#signup-process, .section li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.checklist li, ol li.check {
  flex-direction: row;
  justify-content: flex-start;
}

#navigation {
  font-size: 0.618em; /*18/1.618 = 11.125 =.618em*/
  line-height: 0.742em; /*11.125*1.2=13.35 =.742em*/
  display: flex;
  justify-content: space-around;
}

/* ========== Module ========== */
/* Module/Modular Section (class or descedent selectors; repeating specific styles) */

.nv * {/*Toggle this class to toggle visibility*/
  display: none;
}

.sectionhead {
  text-decoration: underline;
  text-align: left;
}
/* ========== State ========== */
/* State (repeat the structure above; media queries, JavaScript-dependent styles) */

@media screen and (min-width: 336px) {
  /**I like how 336 lines up nicely with the title.  This will be my max**/
  html {
    max-width: 18.6667em/**336px /18px=18.6667  I liked how 336 looked and wanted to keep that for rest of page.*/;
    margin: auto;
  }

  h1 {
    padding: 0.74em 0;
  }

  .nextclear {
    padding: 0.74em 0;
  }


}





/*Baseline css*/
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="1.2em" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="1.619" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;

  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: none;
}
